<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IIncomingWebServicebinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.visionamosonlinetest.com:443/admin/ECGTSIncomingHomeBanking.dll/soap/IIncomingWebService"
                binding="basicHttpBinding" bindingConfiguration="IIncomingWebServicebinding"
                contract="WSRedCoopcentral.IIncomingWebService" name="IIncomingWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>